<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity impersonate="false" />
        <authorization>
            <allow users="?" />
        </authorization>
    </system.web>
    <appSettings>
        <add key="CONSUMER_KEY" value="BqTuyNXCbw9mwuLe7VlmoA7nKju3NEK2" />
        <add key="CONSUMER_SECRET" value="BGDLz8tIGOjzSpnR" />
    </appSettings>

  <system.webServer>

    <!-- indicates that the hello.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"  />
    </handlers>
  </system.webServer>
</configuration>
